:root {
  --white: #fff;
  --black: #000;
  --grey-line: #13171d;
  --linear: linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%);
  --blue: #3d8bff;
  --grey-text: #46505f;
  --accordion-height: 9.063vw;
}
@mixin h2 {
  color: var(--white, #fff);
  font-family: Monument Extended;
  font-size: 3.542vw;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 3.896vw */
  text-transform: uppercase;
}
@mixin h3 {
  font-family: Monument Extended;
  font-size: 1.979vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.375vw */
  text-transform: uppercase;
}
@mixin h4 {
  font-family: Satoshi;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.49vw */
}
@mixin p {
  color: var(--white, #fff);
  font-family: Satoshi;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.219vw */
}
@mixin button {
  width: auto;
  height: auto;
  height: 2.813vw;
  padding: 0 0.781vw;
  background: var(--blue, #3d8bff);
  border-radius: 0.313vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Satoshi;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  color: var(--white, #fff);
  border: none;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.25s ease-out opacity;
  }
  span {
    transition: 0.25s ease-out transform;
    &:last-child {
      transform: translateY(150%);
    }
    &:first-child {
      transform: translateY(50%);
    }
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    span {
      &:last-child {
        transform: translateY(-50%);
      }
      transform: translateY(-150%);
    }
  }
}
@mixin button-content-wallet {
  position: relative;
  display: flex;
  width: auto;
  padding: 0.521vw 0.729vw 0.625vw 0.729vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.313vw;
  border: 1px solid var(--white, #fff);
  transition: 0.25s ease-out background;
  @include p();
  svg {
    position: absolute;
    left: 0.729vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1.146vw;
    height: auto;
  }
  &:hover {
    background: var(--blue, #3d8bff);
  }
}
@mixin button-login {
  display: flex;
  width: auto;
  height: 2.292vw;
  padding: 0.573vw 0.521vw 0.677vw 0.521vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.25s ease-out background, 0.25s ease-out border;
  border: 0.106vw solid var(--white, #fff);
  background: none;
  border-radius: 0.313vw;
  @include p();
  font-weight: 700;
  &:hover {
    background: var(--blue, #3d8bff);
    border: 0.106vw solid var(--blue, #fff);
  }
}
@mixin social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.771vw;
  height: 1.771vw;
  flex-shrink: 0;
  border: 0.106vw solid var(--white, #fff);
  border-radius: 100%;
  transition: 0.25s ease-out background, 0.25s ease-out border;
  svg {
    width: 0.833vw;
    height: 0.833vw;
  }
  &:hover {
    background: var(--blue, #3d8bff);
    border: 0.106vw solid var(--blue, #fff);
  }
}
body,
html {
  background: var(--black, #000);
  &::-webkit-scrollbar {
    width: 0.26vw;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--black, #000);
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0.26vw 0.26vw 0.26vw 0.26vw#AB23FF;
    border-radius: 0.104vw;
  }
}
.wrapper {
  position: relative;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.719vw 2.604vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  .header__logo {
    .logo {
      width: 7.292vw;
      height: auto;
      fill: var(--white, #fff);
    }
  }
  .header__right-block {
    display: flex;
    gap: 3.021vw;
    .header__nav {
      display: flex;
      gap: 2.083vw;
      align-items: center;
      .nav-item {
        display: flex;
        gap: 0.208vw;
        &:not(:first-child) {
          &::after {
            content: "SOON";
            background: var(--black, #000);
            height: max-content;
            width: auto;
            border-radius: 5.208vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.104vw 0.208vw;
            color: var(--purple, #ab23ff);
            font-family: Satoshi;
            font-size: 0.521vw;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 0.573vw */
          }
        }
        a {
          @include p();
          font-weight: 700;
          line-height: 110%;
          transition: 0.25s ease-out color;
          &:hover {
            color: var(--blue, #3d8bff);
          }
        }
      }
    }
    .header__connect {
      min-width: 6.875vw;
      @include button-login();
    }
    .burger-menu {
      display: none;
    }
  }
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
  justify-content: end;
  padding: 0 12.5vw 5.313vw 12.5vw;
  .video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    .main__bg {
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover;
    }
  }

  .video-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
    z-index: 0;
  }
  .main__title {
    z-index: 1;
    margin: 28.906vw 0 0 0;
    @include h2();
  }
  .main__subtitle {
    z-index: 1;
    position: relative;
    padding: 0.365vw 0 0.521vw 0;
    width: max-content;
    display: block;
    @include h4();
    background: var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 0;
      background: 
        var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    }
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: 
          var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    }
  }
}
.mission {
  position: relative;
  padding: 5.99vw 12.5vw 3.854vw 12.5vw;
  display: flex;
  justify-content: space-between;
  .mission-bg {
    position: absolute;
    left: 18.698vw;
    top: 22.552vw;
    width: 43.542vw;
    height: auto;
  }
  .mission__title {
    @include h3;
    width: 33.333vw;
    color: var(--white, #fff);
    z-index: 1;
    span {
      background: var(
        --linear,
        linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .mission__accordion {
    display: flex;
    flex-direction: column;
    z-index: 1;
    .item {
      position: relative;
      padding: 0 0 1.563vw 1.042vw;
      display: flex;
      gap: 1.563vw;
      overflow: hidden;
      transition: 0.25s ease-out height;
      height: 9.063vw;
      cursor: pointer;
      .arrow {
        width: 0.729vw;
        height: auto;
        position: absolute;
        top: 3.281vw;
        right: 1.146vw;
        transform: scaleY(1);
        transition: 0.25s ease-out transform;
        path {
          transition: 0.25s ease-out stroke;
        }
      }
      &:hover {
        .arrow {
          path {
            stroke: var(--blue, #3d8bff);
          }
        }
        .text-container {
          .accordion-title {
            color: var(--blue, #3d8bff);
          }
        }
      }
      &.open {
        .arrow {
          transform: scaleY(-1);
          path {
            stroke: var(--white, #fff);
          }
        }
        .img-container {
          .mission-icon {
            .polygon {
              fill: var(--white, #fff);
            }
          }
        }
        .text-container {
          .accordion-description {
            opacity: 1;
          }
        }
        &:hover {
          .text-container {
            .accordion-title {
              color: var(--white, #fff);
            }
          }
        }
      }
      &:not(:first-child) {
        border-top: 1px solid var(--grey-line, #13171d);
      }
      &:last-child {
        border-bottom: 1px solid var(--grey-line, #13171d);
      }
      .img-container {
        margin: 1.563vw 0 0 0;
        flex-shrink: 0;
        position: relative;
        width: 5.208vw;
        height: 5.938vw;
        .polygon-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 1.354vw;
          height: auto;
          z-index: 1;
        }
        .border-icon {
          width: 100%;
          height: 100%;
        }
        .mission-icon {
          position: absolute;
          width: 3.542vw;
          height: 3.958vw;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .polygon {
            transition: 0.25s ease-out fill;
          }
        }
      }
      .text-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 21.979vw;
        .accordion-title {
          @include h4();
          color: var(--white, #fff);
          padding: 3.021vw 0 0 0;
          width: auto;
          transition: 0.25s ease-out color;
        }
        .accordion-description {
          padding: 1.563vw 0;
          width: 100%;
          opacity: 0;
          @include p();
          transition: 0.25s ease-out opacity;
        }
      }
    }
  }
}
.profiting {
  padding: 6.25vw 12.5vw 7.292vw 12.5vw;
  .profiting__title {
    @include h2();
  }
  .profiting__subtitle {
    margin: 1.042vw 0 0 26.7vw;
    @include h3();
    background: var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
  }
  .video-container {
    margin: 4.323vw 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 49.323vw;
      height: 25.26vw;
      border-radius: 0.313vw;
      background: linear-gradient(180deg, #3d8bff 0%, #ab23ff 100%);
      mix-blend-mode: soft-light;
      transform: rotate(180deg);
    }
    .profiting__video {
      width: 49.323vw;
      height: 25.26vw;
      object-fit: cover;
      border-radius: 0.313vw;
    }
    .profiting__text {
      width: 23.49vw;
      padding: 0 1.563vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.458vw;
      border-left: 1px solid var(--grey-line, #13171d);
      border-right: 1px solid var(--grey-line, #13171d);
      .text-title {
        @include h4();
        color: var(--white, #fff);
      }
      .text-description {
        @include p();
      }
    }
  }
}
.market {
  padding: 4.167vw 12.5vw;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  .marcet__item {
    display: flex;
    border-radius: 0.313vw;
    background: var(--grey-line, #13171d);
    min-height: 15.729vw;
    .text-container {
      padding: 2.083vw;
      display: flex;
      flex-direction: column;
      gap: 0.781vw;
      .item-title {
        @include h3();
        color: var(--white, #fff);
      }
      .item-description {
        @include p();
      }
    }
    .img-container {
      flex-shrink: 0;
      position: relative;
      width: 23.594vw;
      height: auto;
      border-radius: 0 0.313vw 0.313vw 0;
      overflow: hidden;
      .item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
        mix-blend-mode: luminosity;
      }
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(0deg, #3d6fff 0%, #9123ff 99.28%);
        mix-blend-mode: overlay;
        z-index: 1;
      }
    }
  }
}
.nft {
  padding: 4.219vw 6.875vw 4.219vw 12.5vw;
  display: flex;
  gap: 2.083vw;
  overflow: hidden;
  align-items: center;
  position: relative;
  .nrt__right-block {
    display: flex;
    flex-direction: column;
    .nft__title {
      @include h2();
      padding: 0 0 1.563vw 0;
      border-bottom: 1px solid var(--grey-line, #13171d);
    }
    .nft__subtitle {
      @include h4();
      margin: 1.563vw 0 0 0;
      background: var(
        --linear,
        linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .info-container {
      margin: 2.083vw 0 0 0;
      display: flex;
      gap: 1.042vw;
      .info-item {
        padding: 0.833vw 1.042vw 1.042vw 1.042vw;
        width: 100%;
        border-radius: 0.313vw;
        border: 1px solid var(--grey-line, #13171d);
        height: max-content;
        .info-text {
          @include p();
        }
      }
    }
    .nft__button {
      @include button();
      margin: 2.083vw 0 0 0;
      width: 23.958vw;
    }
  }
  .video-container {
    width: 42.083vw;
    height: 42.083vw;
    flex-shrink: 0;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 67.083vw;
      height: 5.625vw;
      flex-shrink: 0;
      background: var(--black, #000);
      filter: blur(1.563vw);
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 67.083vw;
      height: 5.625vw;
      flex-shrink: 0;
      background: var(--black, #000);
      filter: blur(1.563vw);
      z-index: 1;
    }
    .nft__video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 4.219vw;
    right: 6.875vw;
    width: 42.083vw;
    height: 42.083vw;
    background: linear-gradient(
      180deg,
      rgba(61, 139, 255, 0.44) 0%,
      #ab23ff 100%
    );
    mix-blend-mode: soft-light;
    transform: rotate(180deg);
  }
}
.roadmap {
  z-index: 3;
  display: flex;
  padding: 8.073vw 12.5vw;
  justify-content: space-between;
  position: relative;
  .roadmap__item {
    width: 23.594vw;
    padding: 1.563vw 0;
    border-radius: 0.313vw;
    background: var(--grey-line, #13171d);
    position: relative;
    &::before {
      content: "COMING SOON";
      display: flex;
      position: absolute;
      right: 1.563vw;
      top: 0;
      transform: translateY(-50%);
      padding: 0.156vw 0.313vw;
      border-radius: 5.208vw;
      background: var(--white, #fff);
      color: var(--black, #000);
      text-align: center;
      font-family: Satoshi;
      font-size: 0.625vw;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }
  .item-title {
    @include h3();
    color: var(--white, #fff);
    margin: 0 1.563vw 0 1.563vw;
  }
  .item-subtitle {
    @include h4();
    background: var(--linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.781vw 1.563vw 0 1.563vw;
  }
  .img-container {
    position: relative;
    overflow: hidden;
    border-radius: 0 0.313vw 0.313vw 0;
    border-top: 0.156vw solid var(--black, #000);
    border-right: 0.156vw solid var(--black, #000);
    border-bottom: 0.156vw solid var(--black, #000);
    margin: 1.563vw 0 0 0;
    width: 22.031vw;
    height: 12.188vw;
    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #9123FF 0%, #3D6FFF 100%);
      mix-blend-mode: color;
    }
    .roadmap__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: luminosity;
      transition: 0.25s ease-out transform;
    }
    &:hover {
      .roadmap__img {
        transform: scale(1.15);
      }
    }
  }
  .item-text {
    @include p();
    margin: 1.458vw 1.563vw 0 1.563vw;
  }
}
.footer {
  position: relative;
  padding: 0.781vw 12.5vw 1.823vw 12.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-left-block {
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 4.688vw;
    .reserved {
      @include p();
      font-size: 0.833vw;
    }
    .social-container {
      display: flex;
      gap: 0.521vw;
      .social {
        @include social();
      }
    }
  }
  .povered {
    z-index: 3;
    display: flex;
    gap: 0.313vw;
    align-items: center;
    @include p();
    font-size: 0.833vw;
    svg {
      width: 5.26vw;
      height: auto;
      path {
        transition: 0.25s ease-out fill;
      }
    }
    &:hover {
      svg {
        path {
          fill: var(--blue, #3d8bff);
        }
      }
    }
  }
  .video-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .video-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      .footer__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        content: "";
        display: block;
        background-image: url(../img/roadmap/blur-video.png);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
      }
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(180deg, #3d8bff 0%, #ab23ff 100%);
        mix-blend-mode: soft-light;
        transform: rotate(180deg);
      }
    }
  }
}
