@media only screen and (max-width: 1280px) and (max-aspect-ratio: 1024 / 695) {
  :root {
    --accordion-height: 12.012vw;
  }
  @mixin h2 {
    font-size: 4.297vw;
  }
  @mixin h3 {
    font-size: 2.734vw;
  }
  @mixin h4 {
    font-size: 1.758vw;
  }
  @mixin p {
    font-size: 1.563vw;
  }
  @mixin button {
    max-height: 4.492vw;
    padding: 1.465vw 0.977vw 2.148vw 1.465vw;
    border-radius: 0.586vw;
    font-size: 1.563vw;
    span {
      &:last-child {
        transform: translateY(150%);
      }
      &:first-child {
        transform: translateY(50%);
      }
    }
    &:hover {
      span {
        &:last-child {
          transform: translateY(-50%);
        }
        transform: translateY(-150%);
      }
    }
  }
  @mixin button-content-wallet {
    padding: 0.977vw 1.367vw 1.172vw 1.367vw;
    border-radius: 0.586vw;
    border: 1px solid var(--white, #fff);
    @include p();
    svg {
      left: 1.367vw;
      width: 2.148vw;
    }
  }
  @mixin button-login {
    height: 3.711vw;
    padding: 0.879vw 0.977vw 1.074vw 0.977vw;
    border: 0.195vw solid var(--white, #fff);
    border-radius: 0.586vw;
    @include p();
    &:hover {
      border: 0.195vw solid var(--blue, #fff);
    }
  }
  @mixin social {
    width: 3.32vw;
    height: 3.32vw;
    border: 0.195vw solid var(--white, #fff);
    svg {
      width: 1.563vw;
      height: 1.563vw;
    }
    &:hover {
      border: 0.195vw solid var(--blue, #fff);
    }
  }

  .blur {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(20, 19, 19, 0.7);
    z-index: -1;
    backdrop-filter: blur(0.391vw);
    transition: 0.25s ease-out opacity, 0.25s ease-out height;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .wrapper {
    overflow: hidden;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.953vw 2.93vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .header__logo {
      .logo {
        width: 11.719vw;
      }
    }
    .header__right-block {
      gap: 1.465vw;
      .header__nav {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8.594vw 0 2.93vw 2.93vw;
        background: var(--black, #000);
        flex-direction: column;
        gap: 0vw;
        align-items: start;
        height: 100vh;
        transform: translateX(100%);
        transition: 0.25s ease-out transform;
        .nav-item {
          padding: 1.465vw 2.93vw 1.758vw 0;
          border-bottom: 1px solid var(--grey-line, #13171d);
          width: 18.848vw;
          gap: 0.781vw;
          &:first-child {
            border-top: 1px solid var(--grey-line, #13171d);
          }
          &:not(:first-child) {
            &::after {
              height: auto;
              width: auto;
              border-radius: 0;
              display: flex;
              align-items: flex-start;
              justify-content: start;
              padding: 0;
              font-size: 0.977vw;
            }
          }

          a {
            @include p();
          }
        }
      }
      .header__connect {
        z-index: 20;
        min-width: 10.742vw;
        width: max-content;
        @include button-login();
        height: 3.711vw;
      }
      .burger-menu {
        padding: 0;
        box-sizing: border-box;
        width: 3.711vw;
        height: 3.711vw;
        display: flex;
        flex-direction: column;
        gap: 0.391vw;
        border-radius: 0.586vw;
        border: none;
        outline: 0;
        background: var(--white, #fff);
        z-index: 20;
        transition: 0.25s ease-out background;
        .burger-container {
          width: 100%;
          height: 100%;
          position: relative;
          span {
            position: absolute;
            width: 1.953vw;
            height: 0.195vw;
            background: var(--black, #000);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.25s ease-out transform, 0.25s ease-out background;
            &:last-child {
              transform: translate(-50%, 0.488vw) rotate(0deg);
            }
            &:first-child {
              transform: translate(-50%, -0.684vw) rotate(0deg);
            }
          }
        }
      }
    }
    &.active {
      .header__right-block {
        .header__nav {
          transform: translateX(0);
        }
        .burger-menu {
          background: var(--blue, #3d8bff);
          .burger-container {
            span {
              background: var(--white, #fff);
              &:last-child {
                transform: translate(-50%, 0%) rotate(-45deg);
              }
              &:first-child {
                transform: translate(-50%, 0%) rotate(45deg);
              }
              &:nth-child(2) {
                transform: translate(-50%, -50%) scale(0);
              }
            }
          }
        }
      }
    }
  }
  .main {
    gap: 1.953vw;
    justify-content: end;
    padding: 0 2.93vw 6.836vw 2.93vw;
    .video-container {
      width: 110%;
      height: 100%;
    }
    .main__title {
      margin: 48.34vw 0 0 0;
      @include h2();
    }
    .main__subtitle {
      padding: 0.684vw 0 0.977vw 0;
      @include p();
    }
  }
  .mission {
    padding: 9.277vw 2.93vw 9.375vw 2.93vw;
    .mission-bg {
      left: 0vw;
      top: 35.547vw;
      width: 61.328vw;
    }
    .mission__title {
      @include h3;
      width: 35.645vw;
    }
    .mission__accordion {
      .item {
        padding: 0 0 1.953vw 0;
        gap: 1.953vw;
        height: 12.012vw;
        .arrow {
          width: 1.367vw;
          top: 4.297vw;
          right: 1.953vw;
        }
        &:hover {
          .arrow {
            path {
              stroke: var(--white, #fff);
            }
          }
          .text-container {
            .accordion-title {
              color: var(--white, #fff);
            }
          }
        }
        &.click {
          .arrow {
            path {
              stroke: var(--blue, #3d8bff) !important;
            }
          }
          .text-container {
            .accordion-title {
              color: var(--blue, #3d8bff) !important;
            }
          }
        }
        &:not(:first-child) {
          border-top: 1px solid var(--grey-line, #13171d);
        }
        &:last-child {
          border-bottom: 1px solid var(--grey-line, #13171d);
        }
        .img-container {
          margin: 1.953vw 0 0 0;
          width: 7.129vw;
          height: 8.105vw;
          .polygon-icon {
            width: 2.148vw;
          }
          .mission-icon {
            width: 4.98vw;
            height: 5.371vw;
          }
        }
        .text-container {
          width: 37.012vw;
          .accordion-title {
            @include h4();
            padding: 3.906vw 0 0 0;
          }
          .accordion-description {
            padding: 1.953vw 0;
            @include p();
          }
        }
      }
    }
  }
  .profiting {
    padding: 7.031vw 2.93vw 6.934vw 2.93vw;
    .profiting__title {
      @include h2();
    }
    .profiting__subtitle {
      margin: 0.977vw 0 0 27.539vw;
      @include h3();
    }
    .video-container {
      margin: 3.906vw 0 0 0;
      &::before {
        width: 62.109vw;
        height: 48.145vw;
        border-radius: 0.586vw;
      }
      .profiting__video {
        width: 62.109vw;
        height: 48.145vw;
        border-radius: 0.586vw;
      }
      .profiting__text {
        width: 29.883vw;
        padding: 0 2.344vw;
        gap: 1.953vw;
        border-left: 1px solid var(--grey-line, #13171d);
        border-right: 1px solid var(--grey-line, #13171d);
        .text-title {
          @include h4();
        }
        .text-description {
          @include p();
        }
      }
    }
  }
  .market {
    padding: 5.859vw 2.93vw 4.98vw 2.93vw;
    gap: 1.953vw;
    .marcet__item {
      border-radius: 0.586vw;
      min-height: 25.391vw;
      .text-container {
        padding: 2.344vw 2.93vw 3.125vw 2.344vw;
        gap: 0.977vw;
        .item-title {
          @include h3();
        }
        .item-description {
          @include p();
        }
      }
      .img-container {
        width: 30.078vw;
        border-radius: 0 0.586vw 0.586vw 0;
      }
    }
  }
  .nft {
    padding: 11.035vw 2.93vw;
    display: block;
    position: relative;
    .nrt__right-block {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: 46.094vw;
      .nft__title {
        @include h2();
        padding: 0 0 1.953vw 0;
        border-bottom: 1px solid var(--grey-line, #13171d);
      }
      .nft__subtitle {
        @include h4();
        margin: 1.953vw 0 0 0;
      }
      .info-container {
        margin: 2.93vw 0 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.977vw;
        .info-item {
          padding: 0.977vw 1.563vw 1.563vw 1.563vw;
          width: 100%;
          border-radius: 0.586vw;
          border: 1px solid var(--grey-line, #13171d);
          &:nth-child(2) {
            width: 22.559vw;
          }
          &:nth-child(3) {
            width: 22.559vw;
          }
          .info-text {
            @include p();
          }
        }
      }
      .nft__button {
        @include button();
        margin: 2.93vw 0 0 0;
        width: 22.559vw;
      }
    }
    .video-container {
      position: absolute;
      top: 3.613vw;
      right: -7.715vw;
      width: 67.773vw;
      height: 67.773vw;
      &::before {
        width: 108.008vw;
        height: 11.23vw;
        filter: blur(2.93vw);
      }
      &::after {
        width: 108.008vw;
        height: 11.23vw;
        filter: blur(2.93vw);
      }
    }
    &::after {
      top: 3.613vw;
      right: -7.715vw;
      width: 67.773vw;
      height: 67.773vw;
    }
  }
  .roadmap {
    padding: 7.422vw 2.93vw;
    .roadmap__item {
      width: 30.078vw;
      padding: 1.953vw 0;
      border-radius: 0.586vw;
      &::before {
        right: 2.93vw;
        top: 0;
        padding: 0.293vw 0.586vw;
        border-radius: 9.766vw;
        font-size: 1.172vw;
      }
    }
    .item-title {
      @include h3();
      margin: 0 1.953vw 0 1.953vw;
    }
    .item-subtitle {
      @include h4();
      margin: 0.977vw 1.953vw 0 1.953vw;
    }
    .img-container {
      border-radius: 0 0.586vw 0.586vw 0;
      border-top: 0.293vw solid var(--black, #000);
      border-right: 0.293vw solid var(--black, #000);
      border-bottom: 0.293vw solid var(--black, #000);
      margin: 1.953vw 0 0 0;
      width: 28.125vw;
      height: 22.852vw;
    }
    .item-text {
      @include p();
      margin: 1.758vw 1.953vw 0 1.953vw;
    }
  }
  .footer {
    position: relative;
    padding: 1.465vw 2.93vw 3.418vw 2.93vw;
    .footer-left-block {
      gap: 7.52vw;
      .reserved {
        @include p();
        font-size: 1.367vw;
      }
      .social-container {
        gap: 0.977vw;
        .social {
          @include social();
        }
      }
    }
    .povered {
      gap: 0.586vw;
      @include p();
      font-size: 1.367vw;
      svg {
        width: 8.789vw;
      }
    }
  }
}
